<footer class="text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="footer__content-bottom-wrapper page-width">
                    <div class="footer__copyright caption">
                      <small class="copyright__content">© 2024, <a href="/" title="">TeamSG</a></small>
                      <small class="copyright__content"><a target="_blank" rel="nofollow" href="https://www.shopify.com?utm_campaign=poweredby&amp;utm_medium=shopify&amp;utm_source=onlinestore">Powered by Sanspareils Greenlands</a></small></div>
                  </div>
            </div>
        </div>
    </div>
</footer>